/* Link a Google Font - Poppins */
/* ------------------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
/* ------------------------------------------------------------------------------------------------------------- */


/* Barra de Desplazamiento (Custom Scroll Bar) */
/* ------------------------------------------------------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #4d4d4d;
}
::-webkit-scrollbar-thumb {
    background: #F2B263;
    border-radius: 12px;
    transition: all 0.4s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: #ED9121;
}
/* ------------------------------------------------------------------------------------------------------------- */


/* Menú de Navegación (NavBar) */
/* ------------------------------------------------------------------------------------------------------------- */
nav{
  width: 100%;
  padding: 24px 0;
  transition: all 0.3s ease;
  background: #ED9121;
}
nav .navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .navbar .headerText a{
  font-weight: 750;
  font-size: 44px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
/* ------------------------------------------------------------------------------------------------------------- */


/* Sección: Ficha Personal */
/* ------------------------------------------------------------------------------------------------------------- */
section{
  padding-top: 40px;
  padding-bottom: 3px;
  background-color: #333333;
}
section .content{
  width: 90%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .content .fichaPersonal{
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin-top: -43px;
  margin-bottom: 55px;
}
.about .content .fichaPersonal span{
  color: #fff;
  font-size: 38px;
  font-weight: 650;
  position: relative;
  padding-bottom: 2px;
}
.about .content .fichaPersonal span::before,
.about .content .fichaPersonal span::after{
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ED9121;
  left: 0;
  bottom: 0;
}
.about .content .fichaPersonal span::after{
  bottom: -9px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
/* .about .about-details .left{
  width: 45%;
} */
.about .left img{
  width: 550px;
  height: 680px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 8px 8px 3px #191919;
}
.about-details .right{
  /* width: 75%; */
  padding-left: 30px;
}
.about-details .right .fichaTopic{
  color: #ED9121;
  font-size: 24px;
  font-weight: 650;
}
.about-details .right .fichaText{
  color: #fff;
  font-size: 22px;
  font-weight: 450;
}
.about-details .right .Item{
  margin-bottom: 20px;
}
.about-details .right .ItemLink{
  margin-bottom: 20px;
}
.about-details .right .ItemLink .fichaText a{
  color: #fff;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}
.about-details .right .ItemLinkLast .fichaText a{
  color: #fff;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}
/* .about .about-details .experience{
  display: flex;
  align-items: center;
  margin-top: -22px;
  margin-bottom: -12px;
}
.about-details .experience .num{
  color: #ED9121;
  font-size: 70px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.about-details .experience .exp{
  color: #fff;
  margin-left: 13px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
} */
/* ------------------------------------------------------------------------------------------------------------- */


/* Footer */
/* ------------------------------------------------------------------------------------------------------------- */
footer{
  background: #ED9121;
  padding: 24px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .textFooter span{
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  /* justify-content: center;
  align-items: center; */
  margin-bottom: 3px;
}
/* ------------------------------------------------------------------------------------------------------------- */


/* Flecha Scroll Up (Volver a Inicio) */
/* ------------------------------------------------------------------------------------------------------------- */
/* .scroll-up-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  color: #fff;
  background: #ED9121;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: 3px 3px 2px #191919;
  display: none;
  transition: all 0.4s ease;
} */
/* ------------------------------------------------------------------------------------------------------------- */


/* Responsive Media Query */
/* ------------------------------------------------------------------------------------------------------------- */
@media (max-width: 1920px) {
  
}

@media (max-width: 1600px) {
  .about .left img{
    width: 550px;
    height: 680px;
    object-fit: cover;
    /* margin-bottom: 5px;
    margin-left: 7px; */
  }
  .about-details .right .fichaText{
    font-size: 20px;
  }
  .about-details .right{
    width: 45%;
  }
}

@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 65%;
    margin: 40px 0;
    padding-left: 0px;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  ::-webkit-scrollbar {
    display: none;
  }
  nav .navbar{
    width: 100%;
  }
  .about-details .right .fichaTopic{
    text-align: center;
  }
  .about-details .right .fichaText{
    text-align: center;
  }
  .about .about-details .experience{
    justify-content: center;
    margin-bottom: -50px;
  }
}

@media (max-width: 675px) {
  nav .navbar .headerText a{
    font-size: 40px;
  }
}

@media (max-width: 580px) {
  nav .navbar .headerText a{
    font-size: 36px;
  }
}

@media (max-width: 520px) {
  nav .navbar .headerText a{
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .about .left img{
    width: 380px;
    height: 230px;
    object-fit: cover;
    margin: 0 auto;
  }
  /* .scroll-up-button{
    display: none;
  } */
}

@media (max-width: 470px) {
  nav .navbar .headerText a{
    font-size: 30px;
  }
}

@media (max-width: 435px) {
  nav .navbar .headerText a{
    font-size: 28px;
  }
}

@media (max-width: 420px) {
  nav .navbar .headerText a{
    font-size: 26px;
  }
}

@media (max-width: 375px) {
  nav .navbar .headerText a{
    font-size: 24px;
  }
}

@media (max-width: 355px) {
  nav .navbar .headerText a{
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  nav .navbar .headerText a{
    font-size: 20px;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */